<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="xamarinios10" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="Prism.Forms" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="Prism.Unity.Forms" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="xamarinios10" />
  <package id="Unity" version="5.11.7" targetFramework="xamarinios10" />
  <package id="Unity.Abstractions" version="5.11.1" targetFramework="xamarinios10" />
  <package id="Unity.Container" version="5.11.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.7.0.1179" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.4.1" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile.Forms" version="2.4.1" targetFramework="xamarinios10" />
</packages>